  <link rel="stylesheet" href="{{ 'carousel.css' | asset_url }}">
  
  <section class="carousel" aria-label="Gallery">
    <h1 class="insight_heading">Insight and Updates</h1>

    <ol class="carousel__viewport" id="carouselViewport">
      <li id="carousel__slide1" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="https://media.licdn.com/dms/image/D4D12AQFqw_dOh6tq8Q/article-cover_image-shrink_600_2000/0/1696497735728?e=2147483647&v=beta&t=Dy5BRFybzaZrPeF_-_CLzOxk-KHf7zcyqjOdUXF6u3U" alt="The beach">
        </div>
      </li>
      <li id="carousel__slide2" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="https://media.istockphoto.com/id/1201461261/photo/tractor-spraying-pesticides-on-soy-field-with-sprayer-at-spring.jpg?s=612x612&w=0&k=20&c=WHXte5Pj4QYxTn66JTc_4sHbRE1bedi4XhYpHY9ZWC4=" alt="Kayaking">
        </div>
      </li>
      <li id="carousel__slide3" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="https://www.shutterstock.com/image-photo/young-female-farmers-hands-touch-600nw-2399802041.jpg" alt="A small boat in the sea">
        </div>
      </li>
      <li id="carousel__slide4" class="carousel__slide">
        <div class="carousel__snapper">
          <img src="https://plus.unsplash.com/premium_photo-1661963820931-b9eef1b417b3?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmVydGlsaXplcnxlbnwwfHwwfHx8MA%3D%3D" alt="Mountain view">
        </div>
      </li>
    </ol>

    <aside class="carousel__navigation">
 
          <ol class="carousel__navigation-list">
        <li class="carousel__navigation-item">
          <a href="#carousel__slide1" class="carousel__navigation-button">1</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide2" class="carousel__navigation-button">2</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide3" class="carousel__navigation-button">3</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide4" class="carousel__navigation-button">4</a>
        </li>
      </ol>
   
    
    </aside>
  </section>

  <script>
    // JavaScript for carousel navigation
    function navigateToSlide(slideIndex) {
      const carouselViewport = document.getElementById('carouselViewport');
      const slideWidth = carouselViewport.querySelector('.carousel__slide').offsetWidth;
      carouselViewport.scrollTo({
        left: slideWidth * slideIndex,
        behavior: 'smooth'
      });
    }
  </script>



{% schema %}
{
  "name": "insight",
  "settings": [],
  "presets": [
    {
      "name": "insight"
    }
  ]
}
{% endschema %}