<div style="width:100%;height:500px;">
  <h1> hey  3  goood try</h1>

  
  
    <div class="bg-blue-500 p-4">
 <h1 class="text-3xl font-bold bg-blue">Hello from Tailwind CSS!</h1>

  <p class="mt-2">This section is styled using Tailwind.</p>
</div>

</div>



{% schema %}
  {
    "name": "Product",
    "settings": [
    ],
  "presets":[
  {
    "name":"Product"
  }
  ]
  }
{% endschema %}