.carousel {
  position: relative;
  padding-top: 30%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  overflow-x: hidden;
  background-color: white; /* Add white background */
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  counter-reset: item;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 70%;
  background-color: white;
  counter-increment: item;
}
.carousel__snapper {
  display: flex;
    /* align-items: center; */
    justify-content: center;
}

.carousel__snapper img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list{
  display: flex;
    justify-content: center;
    gap: 4px;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  border-radius: 50%;
  border: 0.25rem solid transparent;
  transition: transform 0.1s;
}

.carousel__navigation-button:hover {
  transform: scale(1.2);
}
